.button {
    padding: 14px 0 15px 0;
    width: 100%;
  
    font-size: 16px;
    line-height: 21px;
    color: $white;
  
    background-color: $black;
    border: none;
    border-radius: 8px;
  
    cursor: pointer;

    &:disabled {
        background-color: fade-out($black, 0.4);
    }

    &:disabled:hover {
        background-color: fade-out($black, 0.4);
    }
}

.button:hover,
.button:focus {
    background-color: $grey;
}

.button:active {
    background-color: fade-out($grey, 0.2);
}